{{#> base}}
	{{#*inline "head"}}
		<title>{{post.markdown.title}} - Charlotte Thomas</title>
		<meta property="og:title" content="{{post.markdown.title}}">
		<meta name="description" content="{{post.markdown.summary}}">
		<meta property="og:type" content="article">

		<link rel="stylesheet" href="{{post_css}}">
		{{#if live_reload}}<script>dependency("{{post_css}}")</script>{{/if}}

		<link type="application/atom+xml" rel="alternate" href="{{feed}}" title="CT Writing Den's Blog">
	{{/inline}}
	{{#*inline "body"}}
		<h1>Test</h1>
		{{{body}}}

		<p class="back"><a href="#">том Back to top</a></p>
	{{/inline}}
{{/base}}
